@use '@site/src/scss/breakpoints' as *;

.organizationCarousel {
  &Item {
    padding-left: 1rem;
  }
}

.individualCarousel {
  &Item {
    padding-left: 1rem;
  }
}

@media (min-width: $sm-screen) {
  .individualCarousel {
    &Item {
      flex-basis: calc(100% / 2);
    }
  }
}

@media (min-width: $md-screen) {
  .organizationCarousel {
    &Item {
      flex-basis: calc(100% / 2);
    }
  }

  .individualCarousel {
    &Item {
      flex-basis: calc(100% / 3);
    }
  }
}

@media (min-width: $lg-screen) {
  .organizationCarousel {
    &Item {
      flex-basis: calc(100% / 3);
    }
  }

  .individualCarousel {
    &Item {
      flex-basis: calc(100% / 4);
    }
  }
}

@media (min-width: $xl-screen) {
  .organizationCarousel {
    &Item {
      flex-basis: calc(100% / 4);
    }
  }

  .individualCarousel {
    &Item {
      flex-basis: calc(100% / 6);
    }
  }
}
