.section {
  &TitleWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &Select {
      margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
    }
  }

  &BadgeList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
