.section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &Top {
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
      font-size: 3rem;
      font-weight: 700;
      text-transform: capitalize;
      margin: 24px 0 16px 0;
      text-align: center;
    }

    &Text {
      font-size: 1.125rem;
      font-weight: 500;
      width: 100%;
      max-width: 768px;
      text-align: center;
      color: var(--color-secondary);
    }

    &Img {
      width: 250px;
    }
  }

  &Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    &Title {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: capitalize;
    }

    &Text {
      font-weight: 500;
      text-align: center;
      color: var(--color-secondary);

      > code {
        display: inline-block;
        margin-top: 0.5rem;
      }
    }
  }
}
