@use '@site/src/scss/breakpoints' as *;

.page {
  margin-top: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &Content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.card {
  height: fit-content;

  &Subtitle {
    margin-bottom: 0.5rem;
  }

  &Body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

@media (min-width: $lg-screen) {
  .page {
    margin-top: 0;

    &Content {
      grid-template-columns: 1fr 250px;
    }
  }
}
