---
import JDKCard from '@/components/cards/JDKCard.astro';
import PageHeader from '@/components/PageHeader.astro';
import Container from '@/components/ui/Container.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allJDKs = await getCollection('jdks');
const breadcrumbs = [{ text: 'JDKs' }];
---

<Layout title="JDK Distributions">
  <PageHeader title="JDK Distributions" breadcrumbs={breadcrumbs} />

  <Container class="pb-20">
    <div class="mb-8">
      <h2 class="mb-4 text-2xl font-bold">Why is Temurin the default JDK?</h2>
      <p>
        We've chosen Eclipse Temurin as our default JDK because it's widely
        recognized as the de facto standard for OpenJDK distributions. Trusted
        for its reliability, stability, and performance, Temurin is ideal for
        production-grade development. We ensure our default version aligns with
        the latest stable release, so you're equipped with the best tools for
        your JVM projects.
      </p>

      <p>
        Looking ahead, we plan to give you the flexibility to track the latest
        JDK releases from individual vendors, such as Oracle or Amazon Corretto.
        While this isn't available yet, we're working to make it easier for you
        to stay on top of the specific distributions you rely on.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        allJDKs.map((JDK) => (
          <a href={`/jdks/${JDK.data.id}`}>
            <JDKCard item={JDK} />
          </a>
        ))
      }
    </div>
  </Container>
</Layout>
