.card {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Side {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &OsIcon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &ArchIcon {
    width: 2rem;
    height: 2rem;
  }
}
