@import '@site/src/scss/breakpoints';

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: $md-screen) {
  .section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: $lg-screen) {
  .section {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: $xl-screen) {
  .section {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
