---
import Link from '@/components/ui/Link.astro';
import socialLinks from '@/data/social-links';
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'ul'> {}

const { class: className, 'class:list': classList } = Astro.props;
---

<ul class:list={['flex items-center gap-6', className, classList]}>
  {
    socialLinks.map((item) => {
      return (
        <li>
          <Link href={item.href} aria-label={item.alt}>
            <Icon class="text-foreground h-4 w-4" name={item.icon} />
          </Link>
        </li>
      );
    })
  }
</ul>
