.card {
  &Icon {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ifm-color-primary);
    margin-bottom: 1.5rem;
  }
}
