@import '@site/src/scss/breakpoints';

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

@media (min-width: $md-screen) {
  .buttons {
    flex-direction: row;
  }
}
