.footer {
  background-color: var(--footer-background-color);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &CommonHausFoundation {
    &Link {
      margin-bottom: 1.5rem;
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  &Status {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}
