.footer {
  background-color: var(--footer-background-color);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &Logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  &CommonHausFoundation {
    &Link {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  &DigitalOcean {
    &Link {
      color: inherit;
      display: inline-block;
      margin-top: -4px;

      &:hover {
        opacity: 0.8;
      }

      img {
        display: block;
        height: 48px;
        width: auto;
      }
    }
  }

  &Status {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}
